body {
	min-width: 600px;
	min-height: 800px;
}

#upgrades-wrapper {
	display: flex;
}

#upgrades-available {
	flex: 0 0 40%;
}

#upgrades-bought {
	flex: 1;
}

#progressbar {
	width: 150px;
	background-color: grey;
	display: none;
}
#progressbar-bar {
	width: 0%;
	height: 28px;
	background-color: green;
}
