<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Idle Game</title>
        <link rel="stylesheet" href="css/game.css">
    </head>
    <body>
        <div id="header">
            <h1>Idle Game</h1>
        </div>
        <div id="progressbar">
			<div id="progressbar-bar"></div>
        </div>
        <div id="sendMiner">
            <button id="sendMinerBtn" onclick="MinerWork()">Send miner to work</button>
        </div>
        <div>
            <div>
                <p id="userMoneyText"></p>
            </div>
            <h2>Inventory:</h2>
            <div>
                <ul style="list-style-type:disc">
                    <li id="userStone"></li>
                    <li id="userCopper"></li> <!---To be added--->
                    <li id="userTin"></li> <!---To be added--->
                </ul>  
            </div>
            <div id="sellOres">
                <button onclick="SellOres()">Sell all your ores</button>
            </div>
        </div>
        <!-- UPGRADES -->
        <div id="upgrades-wrapper">
			<div id="upgrades-available">
				<h2>Available Upgrades</h2>
				<ul id="upgrades-available-list" style="list-style-type:disc">
				</ul>
			</div>
			<div id="upgrades-available">
				<h2>Bought Upgrades</h2>
				<ul id="upgrades-bought-list" style="list-style-type:disc">
				</ul>
			</div>
        </div>
        <!-- END UPGRADES -->

        <!---Scripts--->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!---Change to vue.min.js for production--->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="./js/miner.js"></script>
        <script src="./js/inventory.js"></script>
        <script src="./js/upgrademanager.js"></script>
        <script src="./js/upgrade.js"></script>
        <script src="./js/upgrades.js"></script>

    </body>
</html>
